services:
  bank-customer-service:
    build: ./customer-service
    container_name: bank-customer-service
    ports:
      - '8084:8084'
    expose:
      - '8084'
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8084/actuator/health" ]
  bank-account-service:
    build: ./account-service
    container_name: bank-account-service
    ports:
      - '8083:8083'
    expose:
      - '8083'
    depends_on:
      bank-customer-service:
        condition: service_healthy
    environment:
      - CUSTOMER_SERVICE_URL=http://bank-customer-service:8084
